---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Hi, I'm Varvara 👋</h1>
      <p>
      I'm a software designer with a background in physics and
      a passion for data. I love designing and building web-based software
      solutions that help make research data accessible and easy to use.
      </p>
      <p>
      I prioritise designing user-focused, modular, maintainable and
      well-documented software systems, as well as establishing good
      engineering practices to ensure long term sustainability.
      </p>
      <p>
      Feel free to get in touch with me about interesting projects I might be
      able to help with at <em>varvara (at) echus.co</em>.
      </p>
    </main>
    <Footer />
  </body>
</html>
