---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import Emoji from "astro-emoji";
---

<header>
  <h2>
    {">_"}
    {SITE_TITLE}
  </h2>

  <nav>
    <HeaderLink href="/">
      {" "}
      <Emoji symbol="ðŸ¡" />
      {" "}
      Home
    </HeaderLink>
    <!-- <HeaderLink href="/blog">Blog</HeaderLink> -->
    <HeaderLink href="/projects">
      {" "}
      <Emoji symbol="ðŸ› ï¸" />
      {" "}
      Projects
    </HeaderLink>
    <HeaderLink href="/varvara_efremova_resume.pdf" target="_blank">
      {" "}
      <Emoji symbol="ðŸ“ƒ" />
      {" "}
      Resume
    </HeaderLink>
    <HeaderLink href="https://github.com/echus" target="_blank">
      {" "}
      <Emoji symbol="ðŸ’»" />
      {" "}
      GitHub
    </HeaderLink>
  </nav>
</header>
<style>
  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
  }
</style>
